<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <th:block th:include="~{fragments/head}"/>
    <title>Add Homework</title>
</head>
<body>
<div class="container">
    <div class="row rounded">
        <div class="col-12">
            <th:block th:include="~{fragments/nav-home}"/>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 ">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add your homework</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row ">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form th:action="@{/homework/add}" th:method="post" class="tm-edit-product-form"
                              th:object="${homework}">
                            <div class="input-group mb-3">
                                <h1>You late</h1>
                            </div>
                            <div class="input-group mb-3">
                                <label for="exercise" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Exercises</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="exercise"
                                        name="exercise">
                                    <option selected>Select exercise</option>
                                    <th:block th:each="e : ${exercises}">
                                        <option th:text="${e}">Exercise One</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label for="git" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                    Github address
                                </label>
                                <input th:field="*{git}" id="git" name="git" type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>
                            <th:block th:each="e : ${#fields.errors('git')}">
                                <small th:text="${e}" class="text-danger">Invalid github address</small>
                            </th:block>
                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/img/homework.png" alt="Homework picture" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"/>
</div>
</body>
</html>